{% extends 'base.html.twig' %}

{% block body %}

<table class="table">
    <thead>
        <tr>
            <th scope="col">
                #
            </th>
            <th scope="col">
                Voeux
            </th>
            <th scope="col">
                Category
            </th>
        </tr>
    </thead>
    <tbody>
        {% for item in wishList %}
        <tr>
            <th scope="row">
                {{ loop.index }}
            </th>
            <td>
                {{item.title}}
            </td>
            <td>
                {% if item.category %}
                {{item.category.name}}
                {% endif %}
            </td>
            <td>
                <a href="{{path('details', {id:item.id})}}" class="btn btn-primary">details</a>
            </td>
            <td>
                <a href="{{path('modify', {id:item.id})}}" class="btn btn-warning">
                    <li class="fa fa-edit"></li>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{{path('add')}}" class="btn btn-success">+</a>

{% endblock body %}