<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Bucket List{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
    and uncomment the following Encore helpers to start using Symfony UX #}
    {% block favicon %}
    <link rel="icon" type="image/png" href="{{asset('assets/bucket_fav.png')}}">
    </link>
    {% endblock %}
    {% block stylesheets %}
    <link rel="stylesheet" href="{{asset('styles/base.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    {#{{ encore_entry_link_tags('app') }}#}
    {% endblock %}

    {% block javascripts %}
    {#{{ encore_entry_script_tags('app') }}#}
    {% endblock %}
</head>

<body>
    {% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{path('home')}}">Bucket List</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="d-flex collapse" id="navbarNav">
                <div class="navbar-nav">
                    <a class="nav-link {{ app.request.get('_route') == 'home' ? 'active' }}" aria-current="page"
                        href="{{path('home')}}">Home</a>
                    <a class="nav-link {{ app.request.get('_route') == 'about-us' ? 'active' }}"
                        href="{{path('about-us')}}">About Us</a>
                    <a class="nav-link {{ app.request.get('_route') == 'wish-list' ? 'active' }}"
                        href="{{path('wish-list')}}">Wish List</a>
                </div>
            </div>
        </div>
    </nav>
    {% endblock %}
    {% block body %}
    <h1>Nothing here</h1>
    {% endblock %}
    {% block footer %}
    <footer>
        <div class='footer-basic'>
            <p class="copyright">©Bucket-List {{ "now"|date("Y") }}</p>
        </div>
    </footer>
    {% endblock %}
</body>

</html>